<h2> <%= record.title %> </h2>
<div> 
    <img class="albumCover" src="<%=record.albumCover%>" width="300" height="300">
</div>
<div>
    Artist: <%= record.artist %>
</div>

<div>
    Release Date: <%= record.releaseDate %>
</div>

<div>
    Condition: <%= record.condition %>
</div>

<div>
    Description: <%= record.description %>
</div>

<div>
    Seller: <%= record.user.firstName %>
</div>

<div>
    CreatedAt: <%= moment(record.createdAt).fromNow() %>
</div>

<div>
   UpdatedAt: <%= moment(record.updatedAt).fromNow() %>
</div>

