
<h1> Records </h1>

<table class="table table-striped">
    <tr>
        <th> Title </th>
        <th> Artist </th>
        <th> Release Date </th>
        <th> Condition </th>
        <th> Description </th>
        <th> Created At </th>
    </tr>

<% records.forEach(function(record){ %>  
    <tr>
        <td> <a href="/records/detail?id=<%= record._id %>"> <h3><%= record.title %></h3> </a> </td>
        <td> <%= record.artist %></td>
        <td> <%= record.releaseDate %></td>
        <td> <%= record.condition %></td>
        <td> <%= record.description %></td>
        <td> <%= moment(record.createdAt).fromNow() %></td>
    </tr>
<% }) %>


</table>





<div class="row">
    <div class="col-sm-4 my-4">
    @if(count($record) > 0)
    @foreach($record as $record)
<div class="col-sm-4 my-4">
    <div class="card">
        <img class="card-img-top" src="<record.albumCover%>" alt="Unable">
        <div class="card-body">
            <h2 class="card-title">{{$record->title}}</h2>
            <p class="card-text">{!!$record->artist!!}</p>
        </div>        
    </div>
</div>
    @endforeach
@else
<p>No Members Found</p>
@endif
</div>

</div>