<div class="cards container">
    <div class="row">
        <% records.forEach(function(record){ %>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="<%= record.albumCover%>" alt="text" class="card-img-top" height="300">
                    <div class="card-body">
                        <h4 class="card-title"><a href="/records/detail?id=<%= record._id %>">
                                <%= record.title %>
                        </h4>
                        <h5 class="card-title">
                            <%= record.artist %>
                        </h5>
                        <p class="card-text"> £<%= record.askingPrice %>
                        </p>
                    </div>
                </div>
            </div>
                <% }) %>
           
    </div>