<div class=" sam row row-cols-3">


    <% records.forEach(function(record){ %>
        <div class="cols">
            <div class="card">
                <img class="card-img-top" src="<%= record.albumCover%>" alt="Card image cap" width="150px"
                    height="350px">
                <div class="cardbody card-body">
                    <a href="/records/detail?id=<%= record._id %>">
                        <h5 class="card-title">
                            <%= record.title %>
                    </a>
                    <h4 class="card-text">
                        <%= record.artist %>
                    </h4>
                </div>
                <div class="price card-footer">
                    <h5 class="text-muted">£<%= record.askingPrice %></h5>
                </div>
                <div class='buy buyindex'>
                    <h4><a href="/cart/add/<%= record._id %>">BUY <i class="bi bi-basket2"><svg xmlns="http://www.w3.org/2000/svg"
                        width="16" height="16" fill="currentColor" class="bi bi-basket2" viewBox="0 0 16 16">
                        <path
                            d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0v-2z" />
                        <path
                            d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z" />
                    </svg></i></a></h4></a></h4>
                </div>
            </div>
        </div>
        <% }) %>
</div>