<h1> List your record </h1>

<form method="POST" action="/records/sell">

<div class="form-group">
    <label>Title</label>
    <input name="title" type="text" class="form-control"/>
</div>

<div class="form-group">
    <label>Artist</label>
    <input name="artist" class="form-control"></input>
</div>

<div class="form-group">
    <label>Release Date</label> 
<input name="releaseDate" type="date" class="form-control"/>
</div>

<div class="form-group">
    <label>Condition</label>
    <input type="text" name="condition" class="form-control" />
</div>

<div class="form-group">
    <label>Description</label>
    <textarea type="text" name="description" class="form-control"></textarea>
</div>

<div>
    <label for="image">Upload Image</label>
    <input type="file" id="image" 
           name="image" value="" required>
</div>
<h1>Uploaded Images</h1>
<div>
    <% items.forEach(function(image) { %>
    <div>
        <div>
            <img src="data:image/<%=image.img.contentType%>;base64,
                 <%=image.img.data.toString('base64')%>">
            <div>
                <h5><%= image.name %></h5>
                  


<p><%= image.desc %></p>



            </div>
        </div>
    </div>
    <% }) %>
</div>

<input type="text" name="user" value="<%= currentUser._id %>" />

<button type="submit" class="btn btn-primary">
    List for sale
</button>

</form>