<div class="container">
    <% let cart = session.cart %>
    <table class="table table-striped">
        <tr>
            <th> Artwork </th>
            <th> Title </th>
            <th> Artist </th>
            <th> Release Date</th>
            <th></th>
        </tr>
            <% for (let i = 0; i < cart.record.length; i++){console.log(cart.record[i].title); %>
        <tr>
            <td><img src="<%= cart.record[i].albumCover %>" height="64px" width="64px""/></td>
            <td> <%= cart.record[i].title %> </td>
            <td> <%= cart.record[i].artist %> </td>
            <td> <%= cart.record[i].releaseDate %> </td>
            <td>
                <form method="POST" action="/carts/update?_method=PUT&pos=<%=[i]%>">
                    <button type="submit" class="btn btn-primary">
                        Remove
                    </button>
                </form>
            </td>
        </tr>
            <% } %>
    </table>
</div>
<div class="container">
    <form>
        <buttontype="submit" class="btn btn-primary">
            Checkout
        </button>
    </form>
</div>