<div>
    <div>
        <% console.log(currentUser) %>
      <h3>Hi <%= currentUser.firstName %>!</h3>
    </div>
  
    <div>Email Address: <%= currentUser.emailAddress %></div>
    <div>Phone Number: <%= currentUser.phoneNumber %></div>
    <div>Created At: <%= moment(currentUser.createdAt).fromNow() %></div>
  
    <br/>
  
    <% currentUser.record.forEach(function(record) { %>
    <hr/>
    <div>
      <div>Record: <%= records.title %> </div>
      <div>Artist: <%= records.artist %> </div>
      <div>Listed: <%= records.createdAt %> </div>
    </div>
    <% }) %>
  </div>