<div>
    <div>
      <h3>Hi <%= user.firstName %>!</h3>
    </div>
    <div>
      <img src="data:image/<%=image.profilePicture.contentType%>;base64,
        <%=image.profilePicture.data.toString('base64')%>">
      <div>
    <div> <% user.profilePicture %></div>
    <div>Email Address: <%= user.emailAddress %></div>
    <div>Phone Number: <%= user.phoneNumber %></div>
    <div>Created At: <%= moment(user.createdAt).fromNow() %></div>
    <br/>
  
    <% user.article.forEach(function(records) { %>
    <hr/>
    <div>
      <div>Record: <%= records.title %> </div>
      <div>Artist: <%= records.artist %> </div>
      <div>Listed: <%= records.createdAt %> </div>
    </div>
    <% }) %>
  </div>