<div class="outerProfile">
    <div class="profile">
        <div class="innerProfile">
            <div>
                <br>
                <h3>
                    <%= user.firstName %>`s Profile
                </h3>
                <br>

                <div>
                    <img class="img" src="<%=user.profilePicture%>" width="300" height="300">
                </div>
                <br>
                <div>Email Address: <%= user.emailAddress %>
                </div>
                <div>Phone Number: <%= user.phoneNumber %>
                </div>
                <div>Created At: <%= moment(user.createdAt).fromNow() %>
                </div>
                <br />
            </div>
            <a href="/users/edit?id=<%=user._id%>">Edit Profile</a>
        </div>
        <div class="container">
            <% if(user.record) { %>
            <table class="table table-striped">
                <tr>
                    <th> Artwork </th>
                    <th> Title </th>
                    <th> Artist </th>
                    <th> Release Date</th>
                    <th> Edit Infomation</th>
                </tr>
                <% user.record.forEach(function(record) { %>
                <tr>
                    <td><img src="<%= record.albumCover %>" height="64px" width="64px"></td>
                    <td> <a href="/records/detail?id=<%= record._id %>"><%= record.title %></a></td>
                    <td> <%= record.artist %> </td>
                    <td> <%= record.releaseDate %> </td>
                    <td><a href="/records/edit?id=<%=record._id%>">Edit </a></td>
                </tr>
            <% })} %>
           
            </table>
        </div>
    </div>
</div>



